{% extends 'tethys_layouts/map_layout/map_layout.html' %}
{% load tethys_gizmos static %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'temp_precip_trends/css/tpt_map_view.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'temp_precip_trends/js/tpt_map_view.js' %}" type="text/javascript"></script>
{% endblock %}

{% block app_content %}
  {{ block.super }}
  <div id="tpt-map-attributes"
       data-auth-token="{{ auth_token }}"></div>
{% endblock %}